<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">编辑</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form [formGroup]="articleForm" (ngSubmit)="onSave()">
    <div class="box-body" fxLayout="row wrap" fxLayoutGap="2%">
      <mat-form-field class="example-full-width" fxFlex="33">
        <input matInput formControlName="title" placeholder="title" required>
      </mat-form-field>

      <mat-form-field class="example-full-width" fxFlex="33">
        <input matInput formControlName="author" placeholder="author" required>
      </mat-form-field>

      <mat-form-field class="example-full-width" fxFlex="33">
        <input matInput formControlName="link" placeholder="link" required>
      </mat-form-field>

      <mat-form-field class="example-full-width" fxFlex="33">
        <input matInput formControlName="categories" placeholder="categories">
      </mat-form-field>

      <mat-form-field class="example-full-width" fxFlex="100%">
        <textarea rows="15" matInput formControlName="desc" placeholder="内容" required></textarea>
      </mat-form-field>

      <div class="form-group" fxFlex="100%">
        <label for="star" class="col-sm-2 control-label">推荐指数</label>
        <div class="col-sm-6">
          <app-stars [(rating)]="article.star" [readonly]="false"></app-stars>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <a (click)="onClick()" mat-flat-button>Cansel</a>
      <button (click)="onSave()" type="submit" mat-flat-button color="primary" class="pull-right">Save</button>

    </div>
    <!-- /.box-footer -->
  </form>
</div>