<div class="box">

  <!-- /.box-header -->
  <div class="box-body">
    <div fxLayout="column">
      <div fxLayout="column" class="article-list" fxFlex="100" *ngFor="let article of articles;">
        <div class="header">
          <h4 class="m-top-0">{{article.author}}</h4>
        </div>
        <div class="list-inner" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="1rem">
          <div class="item-media" fxFlex="145px" fxFill><img [src]="article.src"></div>
          <div class="item-bdoy">
            <div fxLayout="column">
              <a href="javascript:;" (click)="preview(article.id)">
                <h5 class="m-top-0">{{article.title}}</h5>
              </a>
              <div>{{article.body}}</div>
              <div fxLayout="row" class="items">
                <div class="item">
                  <app-stars [rating]="article.star"></app-stars>
                </div>
                <div class="item">
                  {{ article.type }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-loading *ngIf="loading"></app-loading>
</div>
