<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="avatarStyles"></div>
    <mat-card-title>{{item.title}}</mat-card-title>
    <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="item.cover_photo.urls.regular" alt="{{item.cover_photo.alt_description}}">
  <mat-card-content>
    <p>
      {{item.cover_photo.alt_description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>